name: Generate foundation.json
on:
  workflow_dispatch:
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
      - uses: EndBug/add-and-commit@v9
      - run: npm ci
      - run: npx nx run foundation-cli:generate
